.listItem {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	width: 100%;
}
.listItem_button {
	font-size: 10px;
	width: 90%;
	text-overflow: ellipsis;
	color: black;
}
.listItem:hover {
	cursor: pointer;
	background-color: inherit;
	animation: none;
}

@media only screen and (max-width: 850px) {
	.listItem_button {
		font-size: 8px;
		width: 40%;
	}
}

@media only screen and (max-width: 850px) {
	.listItem_button {
		font-size: 8px;
		width: 40%;
	}
}

@media only screen and (max-width: 480px) {

	.listItem_button {
		font-size: 3px;
		width: 10%;
	}
}
