.listItem {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	border-radius: 15px;
	background-color: #000;
	
}

.listItem:hover {
	cursor: pointer;
	background-color: #005;
	animation: none;
}
