.listItem {
	display: flex;
	flex-basis: stretch;
	flex-flow: column;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	border-radius: 14px;
	background-color: #000;
}

.listItem:hover {
	cursor: pointer;
	background-color: #005;
	animation: none;
}
